<title>Home</title>
<section class="banner_main">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-12">
        <div class="text-bg">
          <h1>Find best car Here</h1>
          <strong>Free Multipurpose Responsive</strong>
          <span>Landing Page 2023</span>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            text ever since theLorem Ipsum is simply dummy text of the printing
            <head></head>
          </p>
          <a routerLink="/all">More cars</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end banner -->
<!-- car -->
<div class="car">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>VARIETY OF CARS</h2>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 padding_leri">
        <div class="car_box">
          <figure><img src="../../content/images1/car_img1.png" alt="#" /></figure>
          <h3>Hundai</h3>
        </div>
      </div>
      <div class="col-md-4 padding_leri">
        <div class="car_box">
          <figure><img src="../../content/images1/car_img2.png" alt="#" /></figure>
          <h3>Audi</h3>
        </div>
      </div>
      <div class="col-md-4 padding_leri">
        <div class="car_box">
          <figure><img src="../../content/images1/car_img3.png" alt="#" /></figure>
          <h3>Bmw x5</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end car -->
<!-- bestCar -->
<div id="contact" class="bestCar">
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <form #findForm="ngForm" class="main_form" (ngSubmit)="onFindCar(findForm)">
              <div class="titlepage">
                <h2>Find A Best Car</h2>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <select class="col-md-12 contactus" [ngModel]="1" name="carBrand">
                    <option value="1">-- Choose Car Make --</option>
                    <option *ngFor="let brand of brandValues" [value]="brand">{{ getBrandValue(brand) }}</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <select class="col-md-12 contactus" name="carBody" [ngModel]="1">
                    <option value="1">-- Choose Car Type --</option>
                    <option *ngFor="let bodyType of bodyTypeValues" [value]="bodyType">{{ getBodyValue(bodyType) }}</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <select class="col-md-12 contactus" name="carGearBox" [ngModel]="1">
                    <option value="1">-- Choose GearBox Type --</option>
                    <option *ngFor="let gearBox of gearBoxTypeValues" [value]="gearBox">{{ getGearBoxValue(gearBox) }}</option>
                  </select>
                </div>
                <div class="col-md-12 justify-content-center" style="display: flex">
                  <input ngModel class="col-md-6 contactus" placeholder="Min price" min="1" type="number" name="minPrice" />
                  <input ngModel class="col-md-6 contactus" placeholder="Max price" min="1" type="number" name="maxPrice" />
                </div>
                <div class="col-sm-12">
                  <button
                    type="submit"
                    [routerLink]="[
                      'all',
                      findForm.value.carBrand,
                      findForm.value.carBody,
                      findForm.value.carGearBox,
                      findForm.value.minPrice,
                      findForm.value.maxPrice
                    ]"
                    class="find_btn"
                  >
                    Find Now
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end bestCar -->
<!-- choose  section -->
<div class="choose">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Why Choose Us</h2>
          <span
            >It is a long established fact that a reader will be distracted by the readable content of a page when<br />
            looking at its layout. The point of using
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="choose_box">
          <span>01</span>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
            point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
            content here', making
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="choose_box">
          <span>02</span>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
            point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
            content here', making
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="choose_box">
          <span>03</span>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The
            point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
            content here', making
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end choose  section -->
<!-- cutomer -->
<div class="cutomer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>What is says our cutomer</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="myCarousel" class="carousel slide cutomer_Carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure><img src="../../content/images1/cross_img.png" alt="#" /></figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Due markes</h4>
                      <span>Rental</span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit ess
                      </p>
                      <i><img src="../../content/images1/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure><img src="../../content/images1/cross_img.png" alt="#" /></figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Due markes</h4>
                      <span>Rental</span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit ess
                      </p>
                      <i><img src="../../content/images1/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="container">
                <div class="carousel-caption">
                  <div class="cross_img">
                    <figure><img src="../../content/images1/cross_img.png" alt="#" /></figure>
                  </div>
                  <div class="our cross_layout">
                    <div class="test_box">
                      <h4>Due markes</h4>
                      <span>Rental</span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit ess
                      </p>
                      <i><img src="../../content/images1/te1.png" alt="#" /></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
