<section class="mt-5">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div
          class="card border-top border-bottom border-3"
          style="
            border-color: #f37a27 !important;
            box-shadow: 0 4px 8px 0 rgba(54, 53, 51, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79) !important;
          "
        >
          <div class="card-body p-lg-5">
            <p class="lead fw-bold mb-5" style="color: #f37a27">OOPS!</p>

            <p class="mt-4 pt-2 mb-5">Something went wrong, the transaction cannot be completed. Please try again or contact support.</p>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27">Please contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
